<div class="tile is-vertical is-ancestor" id="records">
    {% for playoffStatus in model %}
    {% if playoffStatus.Status == "Clinched" %}
    <div class="tile has-background-white-ter team-clinched is-parent">
    {% elsif playoffStatus.Status == "Eliminated" %}
    <div class="tile has-background-white-ter team-eliminated is-parent">
    {% else %}
    <div class="tile has-background-white-ter team is-parent">
    {% endif %}
        <div class="tile is-child"><a href="/matchups/{{playoffStatus.Team.LolTeam.Code}}" style="cursor: pointer;">
                <div class="title is-4">{{playoffStatus.Team.LolTeam.Code}}</div>
                {% if playoffStatus.Team.WinLoss.Wins == playoffStatus.Team.SplitWinLoss.Wins && playoffStatus.Team.WinLoss.Losses == playoffStatus.Team.SplitWinLoss.Losses %}          
                <div class="title is-6">{{playoffStatus.Team.WinLoss.Wins}}-{{playoffStatus.Team.WinLoss.Losses}}</div>
                {% else %}
                <div class="title is-6">{{playoffStatus.Team.WinLoss.Wins}}-{{playoffStatus.Team.WinLoss.Losses}} ({{playoffStatus.Team.SplitWinLoss.Wins}}-{{playoffStatus.Team.SplitWinLoss.Losses}})</div>
                {% endif %}
            </a></div>
        {% for result in playoffStatus.Team.Results %}
        <div class="tile is-child">
            <div class="title is-6">{{result.Opponent.Code}}</div>
            {% if result.Won %}
            <div class="title has-text-success is-6">Win</div>
            {% else %}
            <div class="title has-text-danger is-6">Loss</div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>