{% capture league %}{{ model.League }}{% endcapture %}
{% include "_matchup_page_start.liquid" %}
<section class="section">
    <div>
        <nav class="breadcrumb is-medium">
            <ul>
                <li class=""><a href="/{{model.League}}" style="cursor: pointer;">Home</a></li>
                <li class=""><a href="/matchups/{{model.League}}" style="cursor: pointer;">Matchups</a></li>
                <li class="is-active"><a>{{model.TeamCode}}</a></li>
            </ul>
        </nav>
        <div class="container">
            <div class="content has-text-centered">
                <h2 class="title is-2 has-league">{{model.League}} Split Head to Head Matchups</h2>
            </div>
        </div>
        <div class="container">
            <div class="content has-text-centered">
                <h2 class="title is-2">{{model.TeamCode}} vs.</h2>
            </div>
        </div>
        
        <div class="tile has-background-white-ter is-parent">
            {% for matchup in model.Matchups %}
            <div class="tile is-child">
                <h4 class="title is-4">{{matchup.Team.Code}}</h4>
                {% if matchup.Result == "Win" %}
                <h6 class="title has-text-success is-6">Won</h6>
                {% elsif matchup.Result == "Tie" %}
                <h6 class="title has-text-info is-6">Tied</h6>
                {% else %}
                <h6 class="title has-text-danger is-6">Lost</h6>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</section>
</body>
</html>
